html,
body {
	height:100%;
	font-family: Tahoma, Arial;
}

input[type="text"] {
    border: none;
    padding: 0;
}

.TbContainer {
	margin: 0 auto;
	height: 100%;
}

.TbContentRow {
	height: 100%;
}

.TbPanelHeading {
	height: 130px;
	border-bottom: 1px solid #FF7A01; /*just to test, should be removed*/
	margin: 0 auto;
	color: #FF7A01;
}

.TbPanel {
	background-color: #fff;
	padding: 0;
	display: table-cell;
	height: 100%;
}

.TbPanel-left {
	border-right: 1px solid #FF7A01; /*just to test, should be removed*/		
}

.TbPanel-center {
	background-color: #F5F5F5
}

.TbPanel-right {
	border-left: 1px solid #FF7A01; /*just to test, should be removed*/		
}

.TbPanelBody {
/*	overflow-y: scroll;*/
	color: #FF7A01;
}

.HeaderLogo {
	padding: 15px;
}

.TbHeaderLabel {
	padding: 25px;
}

.TbHeaderSlogan {
	font-style: italic;
}

.TbContainerWithBackground {
	background-color: transparent;
}

.TbContainerWithBackground:after {
	content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    background-image: url('images/tbTitleBg.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
	-webkit-filter: blur(3px);
}

.TbMenu {
	padding: 5px; 
}

.TbMenuItem > a {
	color: #FF7A01;
	cursor: pointer;
	background-color: #F5F5F5;
}

.TbMenuItem > a:hover {
	background-color: #FF7A01 !important;
	color: #F5F5F5;
}

.TbFeedElement {
	color: #F5F5F5;
	background-color: #FF7A01;
	padding: 4px;
	margin: 2px;
}

.TbButton {
	border: none;
	background-color: #FF7A01;
	color: #F5F5F5;
	padding: 5px;
	margin: 2px;
}

.TbSocialPanel {
	height: 50px;
	width: 100%;
}

.TbSocialItem,
.TbSocialItemActive,
.TbSocialItemInactive
 {
	height: 40px;
	width: 40px;
	margin: 5px;
	cursor: pointer;
	float: left;
}

.TbSocialItemActive {
	background-color: #FF7A01;
	border: 1px #FF7A01 solid;
}

.TbSocialItemInactive {
	background-color: #F5F5F5;
	border: 1px #F5F5F5 solid;	
}

.TbSocialIcon {
	height: 100%;
	width: 100%;
}

.TbFeedPanel {
	max-height: 600px;
}

.TbPeriodButtonsPanel {
	padding: 5px; 
}

.TbTimeScroller {
/*	width: 100%;*/
	overflow-x: auto;
	white-space: nowrap;
	margin: 5px;
}

.TbTimeScrollerNode,
.TbTimeScrollerNodeActive {
	width: 100px;
	height: 100px;
	border: 2px solid #FF7A01;
	margin: 5px;
	font-size: 30px;
	display: inline-block;
	cursor: pointer;
}

.TbTimeScrollerNode {
	background-color: #F5F5F5;
	color: #FF7A01;
}

.TbTimeScrollerNodeActive {
	background-color: #FF7A01;
	color: #F5F5F5;
}

.TbAgendaItem {
	background-color: grey;
	color: #fff;
	margin: 5px;
}

.TbAgendaItemText {
	height: inherit;
	line-height: inherit;
}

.TbEventItem {
	height: 100px;
	line-height: 100px;
	color: #fff;
	background-color: #FF7A01;
	margin: 5px;
}

.TbSearchIcon {
	background-color: #FF7A01;	
	display: inline-block;
	background-image: url('../images/tbSearchIconNew.png');
	width: 20px;
	height: 20px; 
	vertical-align: top;
}

.TbEventsSearchPanel {
	margin: 5px;
}

.TbEventItemButton {
	text-decoration: underline;
	margin-left: 20px;
	cursor: pointer;
}

.scrollbar-macosx > .scroll-element .scroll-bar {
	background-color: #fff !important;
}

.md-events__search-field {
	display: inline-block;
}