@mixin ctx-portrait() {
    @media (orientation: portrait) {
        @content;
    }
}

@mixin ctx-landscape() {
    @media (orientation: landscape) {
        @content;
    }
}

@mixin button() {
    border: 0 solid;
    border-radius: .5rem; 
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: lowercase;
}

@mixin hidePlaceholderOnFocus() {
  &:focus {
    &::-webkit-input-placeholder {
      color: transparent;
   }

   &:-moz-placeholder { /* Firefox 18- */
      color: transparent;
   }

   &::-moz-placeholder {  /* Firefox 19+ */
      color: transparent;
   }

   &:-ms-input-placeholder {  
      color: transparent;
   }
  }
}