@import '../../../styles/variables';
@import '../../../styles/mixins';

.md-login {
    width: 100%;
    height: 100%;
    
    &__background {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        &-image {
            position: absolute;
            width: 100%;
            height: 70%;
            background: url(../../../assets/login-background.png) top no-repeat;
            background-size: cover; 
            
            @include ctx-portrait {
                top: 30%;
            }

            @include ctx-landscape {
                top: 70%;
            }
        }
    }

    &__logo {
        position: absolute;
        width: 10rem;
        height: 10rem;
        background: url(../../../assets/logo.png) top no-repeat;
        background-size: contain; 

        @include ctx-portrait {
            top: 5%;
            left: 50%;
            transform: translateX(-50%);
        }

        @include ctx-landscape {
            top: 10%;
            left: 12%;
        }
    }
    
    &__form {
        position: absolute;
        text-align: center;
        
        @include ctx-portrait {
            top: 55%;
            width: 70%;
            left: 50%;
            transform: translateX(-50%);
        }
        
        @include ctx-landscape {
            top: 17%;
            width: 38%;
            left: 52%;
        }

        &-row {
            width: 100%;
            height: 2.3rem;            
            margin-top: .5rem;
            margin-bottom: .5rem;
            padding: 0;
            transition: opacity .5s;

            &.hidden {
                opacity: 0;
                pointer-events: none;
            }
        }
        
        &-username {
            box-sizing: border-box;
            text-align: center;
            font-size: 1.5rem;
            border: .05rem solid $primary-color-black;
            border-radius: .5rem;
            
            @include hidePlaceholderOnFocus();

            @include ctx-portrait {
                background-color: $primary-color-yellow;
            }
        }

        &-button {
            @include button();

            @include ctx-portrait {
                background-color: $primary-color-black;
                color: $primary-color-yellow;
            }

            @include ctx-landscape {
                background-color: $primary-color-yellow;
                color: $primary-color-black;                
            }
        }

        &-social {
            width: 100%;
            text-align: center;
    
            &-icon {
                display: inline-block;
                width: 2rem;
                height: 2rem;
    
                &_fb {
                    background: url(../../../assets/fb-icon.png);
                    background-size: contain; 
                }
    
                &_g-plus {
                    background: url(../../../assets/g-plus-icon.png);
                    background-size: contain; 
                }
    
                &_twitter {
                    background: url(../../../assets/twitter-icon.png);
                    background-size: contain; 
                }
            }
    }

    }

    &__about {
        position: absolute;
        width: 100%; 
        text-align: center;
        
        @include ctx-portrait {
            bottom: 12%;
        }

        @include ctx-landscape {
            bottom: 3%;            
        }
    }
}