<div class="md-login">
    <div class="md-login__logo"></div>
    <div class="md-login__background">
        <div class="md-login__background-image"></div>
    </div>
    <div class="md-login__form">
        <input class="md-login__form-username md-login__form-row" type="text" placeholder="enter username"
            [(ngModel)]="username"
            [ngClass] = "{'hidden': !user.isSignUpNeeded}" />
        <input class="md-login__form-button md-login__form-row" type="button"
            [value]="buttonText"
            (click)="buttonAction()" />
        <div class="md-login__form-social md-login__form-row"
            [ngClass] = "{'hidden': !showSocialButtons}">
            <div class="md-login__form-social-icon md-login__form-social-icon_fb" (click)="onSocialAuth(SocialKeys.FB)"></div>
            <div class="md-login__form-social-icon md-login__form-social-icon_g-plus"></div>
            <div class="md-login__form-social-icon md-login__form-social-icon_twitter"></div>
        </div>
    </div>
    <div class="md-login__about">
        <a routerLink="/about">about us</a>
    </div>
</div>