@import '../../../styles/variables';
@import '../../../styles/mixins';

.md-dashboard {
    width: 100%;
    height: 100%;

    &__logout-button {
        @include button();

        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        height: 2.3rem;
        transform: translate(-50%, -50%);
        background-color: $primary-color-black;
        color: $primary-color-yellow;
    }
}