@import '~normalize.css';
@import 'styles/variables.scss';

@font-face {
    font-family: 'Helvetica Neue Cyr Roman';
    src: url('assets/HelveticaNeueCyr-Roman.eot');
    src: url('assets/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('assets/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('assets/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Helvetica Neue Cyr Roman';
}

input {
    outline: none;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
    color: $primary-color-black;
}

app-root {
    display: block;
    width: 100%;
    height: 100%;
}

.debug-field {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: rgba(aquamarine, .5); 
}
