<div class="text-center TbEventsSearchPanel" ng-controller="eventsController">
	<div class="TbSearchIcon">
		<!--<img src="../images/tbSearchIconNew.png" />-->
	</div>
	<div class="md-events__search-field">
		<input type="text" ng-model="locationFilter"/>
	</div>
	<tb-event-item ng-repeat="event in events"></tb-event-item>
</div>