<!--will be moved from here-->
<script>
	$(function() {
	   $('.TbTimeScroller').mousewheel(function(event, delta) {
	      this.scrollLeft -= (delta * 30);
	      event.preventDefault();
	   });
	   
	   $('.TbTimeScroller').scrollbar();
	});
</script>
<div class="text-center">
	<div class="TbPeriodButtonsPanel">
		<button class="TbButton">month</button>
		<button class="TbButton">week</button>
		<button class="TbButton">day</button>
	</div>
	<div ng-controller="timeScrollerController" class="TbAgendaPanel">
		<div class="TbTimeScroller scrollbar-macosx">
			<tb-time-scroller-node ng-repeat="dayNode in dayNodes"></tb-time-scroller-node>
		</div>
		<tb-timebit-item ng-repeat="timeBit in timeBits"></tb-timebit-item>
	</div>
</div>