<div class="TbPanelHeading">
	<div class="TbHeaderLabel">
		<span class="h1">TimeBits</span>
		<br/>
		<span class="h3 TbHeaderSlogan">Take a bit of your time. Share. Have fun.</span>
	</div>
</div>
<div class="TbPanelBody" data-ng-include="currentView">
	<h1>Hey there, buddy!</h1>
<!--	<h2>You have <span class="label label-info">{{ timeBits.length }}</span> timebit(s) planned.</h2>-->
</div>