<div class="TbPanelHeading">
	<div class="TbHeaderLabel text-center">
		<span class="h1">Feed</span>							
	</div>
</div>
<div class="TbPanelBody" ng-controller="feedController">
	<div class="TbFeedPanel scrollbar-macosx" when-scroll-ends="refresh()">
		<div ng-repeat="notification in notifications">
			<div class="TbFeedElement">
				<span>
					{{ notification.DateCreated | date: 'MMM dd yyyy HH:mm' : 'UTC' }}
				</span>
				<br/>
				<span>
					{{ notification.Message }}
				</span>
				<br/>
				<span>
					<!--{{ timeBit.Location }}-->
				</span>
			</div>
		</div>
	</div>
</div>