<div class="TbPanelHeading">
	<div class="text-center">
		<img class="HeaderLogo" src="./images/tbLogoOrange.png" />
	</div>
</div>
<div class="TbPanelBody">
	<div ng-controller="authController" class="TbSocialPanel">
		<tb-social-item image="./images/fbLogo.png" active="fbService.isAuthorized()" login="fbService.signIn()" logout="fbService.signOut()">
		</tb-social-item>
		<tb-social-item image="./images/twitterLogo.png" active="false" login="" logout="">
		</tb-social-item>
		<tb-social-item image="./images/googlePlusLogo.png" active="true" login="" logout="">
		</tb-social-item>
		<div id="fb-root">
		</div>
	</div>
	<ul class="TbMenu nav nav-stacked">
		<li class="TbMenuItem">
			<a ng-click="currentView = './views/HomeView.html'">Home</a>
		</li>
		<li class="TbMenuItem">
			<a ng-click="currentView = './views/EventsView.html'">Events</a>
		</li>
		<li class="TbMenuItem">
			<a ng-click="currentView = './views/ProfileView.html'">Profile</a>
		</li>
		<li class="TbMenuItem">
			<a ng-click="currentView = './views/FriendsView.html'">Friends</a>
		</li>
		<li class="TbMenuItem">
			<a ng-click="currentView = './views/AboutView.html'">About</a>
		</li>
	</ul>
</div>