<div ng-class="{ 'TbTimeScrollerNodeActive' : selectedDate.getTime() == dayNode.Date.getTime(), 'TbTimeScrollerNode' : selectedDate.getTime() != dayNode.Date.getTime() }" ng-click="toggle()">
	<span>
		{{ dayNode.Date.getDate() }}</br>{{ dataUtils.GetMonthNameByDate(dayNode.Date) }}
	</span>
</div>